<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>


<h1>Movies</h1>

<ul>
    <li th:each="movie : ${movies}">
        <strong th:text="${movie.title}"></strong>
        (<span th:text="${movie.year}"></span>)
        - <span th:text="${movie.genre}"></span>

    </li>

</ul>


<a th:href="@{/}" class="back-link">← Back to Home</a>

<style>
    .back-link {
        display: inline-block;
        margin-bottom: 16px;
        text-decoration: none;
        color: #2d6cdf;
        font-weight: bold;
    }

    .back-link:hover {
        text-decoration: underline;
    }
</style>
</body>
</html>