<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show User Information</title>
</head>
<body>
<h2>Users' Information</h2>
<table>
  <tr>
    <th>User ID</th>
    <th>User Name</th>
    <th>Email</th>
  </tr>

  <tr th:each="user:${users}">
    <td th:text="${user.userId}"></td>
    <td th:text="${user.userName}"></td>
    <td th:text="${user.userEmail}"></td>
  </tr>

</table>


<a th:href="@{/}" class="back-link">← Back to Home</a>

<style>
    .back-link {
        display: inline-block;
        margin-bottom: 16px;
        text-decoration: none;
        color: #2d6cdf;
        font-weight: bold;
    }

    .back-link:hover {
        text-decoration: underline;
    }
</style>
</body>
</html>